<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="ActiveDirectoryEndpoint" value="https://login.microsoftonline.com/" />
		<add key="ResourceManagerEndpoint" value="https://management.azure.com/" />
		<add key="WindowsManagementUri" value="https://management.core.windows.net/" />
		<add key="TenantId" value="XXXXXX-86f1-41af-91ab-XXXXXXXXXX" />
		<add key="GraphResourceId" value="https://graph.windows.net" />
		<add key="Authority" value="https://login.microsoftonline.com/{0}" />
		<add key="ProdClientId" value="XXXXXX-XXXX-XXXX-8776-e2e5b00056aa" />
		<add key="ClientConnector" value="ClientConnector" />
		<add key="vaultUrl" value="https://keyvault.vault.azure.net" />
		<add key="certThumbprint" value="XXXXXX53A7BE57A285735D5E6C6BFA5F7XXXXX" />
		<add key="DynamicsLink" value="https://crmtest.crm.dynamics.com/"/>
		<add key="SubscriptionId" value="XXXXXXXX-XXXX-XXXX-XXXX-a03d6fade440" />
		<add key="KeyvaultUsingCertificate" value="true" />
	</appSettings>
</configuration>